In [1]:
import pandas as pd
import numpy as np
from math import floor

In [2]:
df1 = pd.read_csv('association_order.csv')
df2 = pd.read_csv('rules.csv')

In [3]:
df1.head()

          orderid      itemid
0  31379820545759   719740607
1  31378575577269  1825360194
2  31369591568249  1108903291
3  31369836201769  4507360843
4  31372360246729  1821888475

In [4]:
df2.head()

                    rule
0     100242812>80361758
1     100242812>89031406
2  1003153762>1016449477
3  1006024995>2727415265
4   1006024995>866012366

In [5]:
df1.nunique()

orderid     92382
itemid     239702
dtype: int64

In [6]:
df1.shape

(423861, 2)

In [7]:
group_itemid = df1.groupby('itemid')['orderid'].apply(set)

In [9]:
group_itemid.head()

itemid
103572                    {31347710941008}
103580                    {31338334007720}
108696                    {31372952019978}
240094                    {31380092284102}
262532    {31362741095032, 31379924542443}
Name: orderid, dtype: object

In [10]:
def confidence(data):
    data = [i.split('&') for i in data.split('>')]
    denominator = group_itemid[int(data[0][0])]
    if len (data[0])>1:
        denominator = denominator.intersection(group_itemid[int(data[0][1])])
        
    numerator = set(denominator)
    for i in data[1]:
        numerator = numerator.intersection(group_itemid[int(i)])
    return floor(len(numerator)/len(denominator)*1000)

In [14]:
df2['confidence'] = df2['rule'].apply(confidence)

In [15]:
df2

                        rule  confidence
0         100242812>80361758         470
1         100242812>89031406         352
2      1003153762>1016449477         388
3      1006024995>2727415265         171
4       1006024995>866012366         171
...                      ...         ...
14233   995073047>3202007524         102
14234    995073047>651958908         130
14235   995073047>7902698606          65
14236    995073047>922394800          56
14237    995073047>991988255          56

[14238 rows x 2 columns]

In [19]:
df2.to_csv('submission2.csv')